/* source serif 4 */
@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source/SourceSerif4-Regular.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/source/SourceSerif4-Medium.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/source/SourceSerif4-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/source/SourceSerif4-Bold.ttf")
    format("truetype");
}


/* poppins */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v21-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins/poppins-v21-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v21-latin-500.woff2") format("woff2"),
    url("../fonts/poppins/poppins-v21-latin-500.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v21-latin-600.woff2") format("woff2"),
    url("../fonts/poppins/poppins-v21-latin-600.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v21-latin-700.woff2") format("woff2"),
    url("../fonts/poppins/poppins-v21-latin-700.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v21-latin-800.woff2") format("woff2"),
    url("../fonts/poppins/poppins-v21-latin-800.ttf") format("truetype");
}
