/* ===========================
  Import Statements
=========================== */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-datepicker";

/* ===========================
  Theme Variables
=========================== */
@theme {
  --color-primary: #800000;
  --color-sc: #1C4D2F;
  --color-tertiary: #ECD71F;
  --font-head: "Source Serif 4";
  --font-default: "Poppins", sans-serif;
  --aspect-unset: unset;
}

/* ===========================
  Utilities Layer
=========================== */

@layer utilities {
  p {
    @apply leading-[2];
  }

  .container {
    @apply container max-w-9/10 mx-auto;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select,
  button {
    @apply outline-none focus:outline focus:outline-none;
  }
}

/* ===========================
  Base Laye
=========================== */
@layer base {

  /* General Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
  }



  /* Links */
  .all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .th-toc-wrap ul li, [class*="social-links"] ul li) a {
    @apply border-b-2 border-primary text-primary font-semibold transition-all;
  }

  .all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .th-toc-wrap ul li, [class*="social-links"] ul li) a:hover {
    @apply border-b-0;
  }

  /* Lists */
  .all-page ul li {
    @apply list-disc marker:text-primary;
  }

  /* Margins */
  [class*="th-con"]:not(:last-child),
  .page-header,
  #breadcrumbs {
    @apply mb-[60px];
  }

  .blog-header {
    @apply mb-10;
  }

  [class*="con-bg"] {
    padding: 10px 0;
  }

  .page-header {
    @apply gap-[5px];
  }

  :is(.page-header, .blog-header) #breadcrumbs {
    @apply mb-0;
  }

  /* Header */
  .th-home-page header {
    @apply bg-white transition-all shadow-none;
  }

  .top-bar {
    @apply block md:hidden lg:block py-2.5 text-sm bg-gradient-to-r from-primary to-tertiary;
  }

  /* header nav ul {
   background-color: #fff;
  } */

  header {
    @apply relative z-[1] bg-white transition-all duration-300 ease-in-out shadow-sm;
  }

  header ul {
    @apply flex items-center flex-wrap justify-between gap-[30px];
  }

  .sticky-header {
    @apply lg:translate-y-10 lg:transition-all;
  }

  /* Dropdown */
  .th-dropdown {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.5s ease-in-out;
  }

  .th-dropdown::after {
    display: flex;
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 5px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
  }

  .th-dropdown ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 35px;
    padding: 10px;
    z-index: 99;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .th-dropdown ul li {
    padding: 10px 15px;
  }

  header .th-menu>ul>li>a {
    @apply text-white hover:text-gray-300 text-[15px] uppercase transition-colors duration-200;
  }

  @media screen and (min-width: 1024px) {
    .th-dropdown:hover>ul {
      display: block;
    }

    .th-dropdown ul {
      width: 750px;
    }

    .th-dropdown ul li {
      width: 33%;
      float: left;
    }
  }

  @media screen and (max-width: 1024px) {
    .th-menu {
      @apply absolute;
    }

    header .th-menu>ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0px;
      left: 0%;
      transition: all 0.2s;
      width: 300px;
      padding: 30px;
      z-index: 10;
      transform: translateX(-100%);
      display: block;
    }

    header .th-menu>ul>li {
      @apply pt-5;
    }


    .th-dropdown::after {
      @apply ms-auto;
    }

    .cancel-btn {
      @apply fixed right-[8%] top-2.5;
    }

    .show-ul {
      transform: translate(0%) !important;
      overflow-y: auto;
    }

    .th-menu ul li.th-dropdown ul {
      width: 100% !important;
    }

    .th-menu ul li.th-dropdown ul li {
      width: 100% !important;
      float: none;
    }

    header ul li.showMenu>ul {
      display: block;
      margin-top: 15px;
    }

    .back-drop {
      @apply bg-black fixed w-screen h-screen opacity-50 z-[2] inset-y-0;
    }

    .th-menu-search-form {
      @apply absolute w-[calc(100%-40px)] md:w-[calc(100%-100px)] translate-y-[-100px] transition-all duration-[0.3s] ease-[ease-in-out] right-[20px] md:right-[50px];
      background: #fff;
    }

    .search-bar-show {
      @apply translate-y-[50px] transition-all duration-[0.3s] ease-[ease-in-out];
    }
  }
}

/* ===========================
  Components Layer
=========================== */
@layer components {
  .img-placeholder {
    @apply w-full h-full aspect-[16/9] bg-[#c7c7c7];
  }

  .img-placeholder img {
    @apply w-full h-full object-cover;
  }

  .indicator {
    @apply w-[5px] h-[5px] mx-[6px] cursor-pointer bg-[#e3e3e3] rounded-full active:w-[8px] active:h-[8px] active:bg-primary;
  }

  .th-home-page .all-page {
    @apply pt-0;
  }

  .all-page {
    @apply pb-[55px];
  }

  .all-page :is(ul, ol):not([class*="social-links"] ul) {
    @apply pl-6;
  }

  .all-page :is(ul, ol, p, .th-toc-wrap, .wp-block-image):not([class*="social-links"] ul) {
    @apply mb-5;
  }

  .all-page :is(ul, ol):not([class*="social-links"] ul) li:not(:last-child) {
    @apply leading-[1.7] mb-[15px];
  }

  .all-page :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
    @apply mb-[15px];
  }

  .all-page,
  .number-remove {
    counter-reset: term definition;
  }

  .all-page .number>*:not(a)::before {
    @apply content-[counter(term)_"._"];
    counter-increment: term;
  }

  .th-timeline {
    @apply flex items-center;
  }

  .sticky-header {
    @apply sticky top-[0] left-0 z-[999] shadow lg:-translate-y-10;
  }

  #scroll_to_top {
    @apply fixed bottom-12 right-[21px] w-[45px] h-[45px] z-[12] rounded-full cursor-pointer bg-primary flex items-center justify-center;
  }


  .th-btn {
    @apply cursor-pointer w-fit px-[26px] py-[8px] border border-primary bg-primary text-white text-[14px] font-normal rounded-[25px] transition-all;
  }

  .th-btn:has(svg) {
    @apply flex items-center justify-center gap-[10px] fill-white;
  }

  .th-btn:hover {
    @apply bg-white text-primary border-primary;
  }

  .th-btn:hover svg {
    @apply fill-primary;
  }

  .th-travel-card .th-btn {
    @apply px-[20px] py-[5px];
  }

  .flex-between:has(.th-sep, .th-btn) {
    @apply mb-[30px];
  }

  footer .hero-form {
    @apply bg-[#25535a] shadow-none;
  }

  .fo-sep::after {
    @apply content-[""] w-[44px] h-[2px] absolute bottom-[-5px] left-0;
    background: url("data:image/svg+xml,%3Csvg width='44' height='2' viewBox='0 0 44 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='1.5' d='M0 1.175h32m2 0h4m2 0h4'/%3E%3C/svg%3E") no-repeat;
  }

  .img-placeholder {
    @apply aspect-[16/9] relative overflow-hidden;
  }

  footer .menu li {
    @apply mb-[10px];
  }

  [class*="th-con"]:not(:last-child),
  .page-header,
  #breadcrumbs {
    @apply mb-[60px];
  }

  .blog-header {
    @apply mb-10;
  }

  [class*="con-bg"] {
    @apply px-0 py-10;
  }

  .page-header {
    @apply gap-[5px];
  }

  :is(.page-header, .blog-header) #breadcrumbs {
    @apply mb-0;
  }

  /* Site Button */
  .th-btn {
    @apply w-fit px-[26px] py-2;
  }

  .th-btn:has(svg) {
    @apply flex items-center justify-center gap-2.5;
  }
}