/* ===========================
  Import Statements
=========================== */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-datepicker";

/* ===========================
  Theme Variables
=========================== */
@theme {
  --color-primary: #800000;
  --color-sc: #1C4D2F;
  --color-tertiary: #ECD71F;
  --font-head: "Source Serif 4";
  --font-default: "Poppins", sans-serif;
  --aspect-unset: unset;
  --animate-spin-slow: spin-slow 12s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center gap-2 lg:gap-4
           rounded-full bg-sc text-white
           py-2 pl-5 pr-2
           transition-all duration-200 ease-in-out
           hover:bg-primary hover:text-white
           w-fit overflow-hidden;
  }

  .btn-text, .btn-icon {
    @apply transform transition-transform duration-200 ease-in-out;
  }

  /* Fallback for buttons WITHOUT SVG */
  .btn-primary:not(:has(svg)) .btn-text {
    @apply pr-4; /* add extra right padding */
  }
}




/* ===========================
  Utilities Layer
=========================== */

@layer utilities {
  p {
    @apply leading-[2] mb-4;
  }

  .container {
    @apply container max-w-9/10 mx-auto px-5;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select,
  button {
    @apply outline-none focus:outline focus:outline-none;
  }
}

/* ===========================
  Base Laye
=========================== */
@layer base {

  /* General Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
  }


  /* Header */
  .th-home-page header {
    @apply bg-white transition-all shadow-none;
  }

  .top-bar {
    @apply block md:hidden lg:block py-2.5 text-sm bg-gradient-to-r from-primary to-tertiary;
  }

  /* header nav ul {
   background-color: #fff;
  } */

  header {
    @apply relative z-[1] bg-white transition-all duration-300 ease-in-out shadow-sm;
  }

  header ul {
    @apply flex items-center flex-wrap justify-between gap-[30px];
  }

  .sticky-header {
    @apply lg:translate-y-10 lg:transition-all;
  }

  /* Dropdown */
  .th-dropdown {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.5s ease-in-out;
  }

  .th-dropdown::after {
    display: flex;
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 5px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
  }

  .th-dropdown ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 35px;
    padding: 10px;
    z-index: 99;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .th-dropdown ul li {
    padding: 10px 15px;
  }

  header .th-menu > ul > li > a {
    @apply text-black hover:text-primary lg:text-white lg:hover:text-tertiary text-[15px] uppercase transition-colors duration-200;
  }

  @media screen and (min-width: 1024px) {
    .th-dropdown:hover>ul {
      display: block;
    }

    .th-dropdown ul {
      width: 750px;
    }

    .th-dropdown ul li {
      width: 33%;
      float: left;
    }
  }

  @media screen and (max-width: 1024px) {
    .th-menu {
      @apply absolute;
    }

    header .th-menu>ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0px;
      left: 0%;
      transition: all 0.2s;
      width: 300px;
      padding: 30px;
      z-index: 10;
      transform: translateX(-100%);
      display: block;
      background: #fff;
    }

    header .th-menu>ul>li {
      @apply pt-5;
    }


    .th-dropdown::after {
      @apply ms-auto;
    }

    .cancel-btn {
      @apply fixed right-[8%] top-2.5;
    }

    .show-ul {
      transform: translate(0%) !important;
      overflow-y: auto;
    }

    .th-menu ul li.th-dropdown ul {
      width: 100% !important;
    }

    .th-menu ul li.th-dropdown ul li {
      width: 100% !important;
      float: none;
    }

    header ul li.showMenu>ul {
      display: block;
      margin-top: 15px;
    }

    .back-drop {
      @apply bg-black fixed w-screen h-screen opacity-50 z-[2] inset-y-0;
    }

    .th-menu-search-form {
      @apply absolute w-[calc(100%-40px)] md:w-[calc(100%-100px)] translate-y-[-100px] transition-all duration-[0.3s] ease-[ease-in-out] right-[20px] md:right-[50px];
      background: #fff;
    }

    .search-bar-show {
      @apply translate-y-[50px] transition-all duration-[0.3s] ease-[ease-in-out];
    }
  }
}


/* Components */
@layer components {
  .sec-title {
    @apply mx-auto mb-8 max-w-3xl;
  }
  /* Subtitle */
  .sec-title .sec-subtitle {
    @apply mb-1 text-sm font-semibold tracking-wide text-primary;
  }
  /* Dynamic Headings */
  .sec-title h1 {
    @apply text-5xl font-head font-bold mb-3;
  }
  .sec-title h2 {
    @apply text-4xl font-head font-bold mb-3;
  }
  .sec-title h3 {
    @apply text-3xl font-head font-bold mb-3;
  }
  .sec-title h4 {
    @apply text-2xl font-head font-bold mb-3;
  }
  .sec-title h5 {
    @apply text-xl font-head font-bold mb-3;
  }
  .sec-title h6 {
    @apply text-lg font-head font-bold mb-3;
  }
  /* Description – no class needed */
  .sec-title p {
    @apply text-base leading-relaxed text-gray-600;
  }
}

@layer base {
  .courses-section {
    /* linear gradient + image */
    background-image:
      linear-gradient(90deg, #880920 0%, rgba(136, 9, 32, 0) 67%),
      url("/src/images/banner-slider-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}


@layer components {
  /* Card wrapper */
  .service-card {
   
  }
  /* Card image */
  .service-card .card-image {
    @apply w-full h-48 rounded-xl overflow-hidden mb-4;
  }
  /* Title */
  .service-card .card-title {
    @apply text-xl font-head font-bold mb-2 text-black text-center;
  }
  /* Description */
  .service-card .card-text {
    @apply text-gray-700 text-base leading-relaxed mb-5 text-center;
  }

  
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }


  .swiper {
    @apply w-full h-[400px];
  }

  .courses-section .swiper-vertical>.swiper-wrapper{
    gap: 30px;
  }

  .courses-section .swiper-pagination-vertical.swiper-pagination-bullets, .courses-section .swiper-vertical>.swiper-pagination-bullets {
   
  right:unset !important;
    bottom: 24px !important;
    top: unset !important;
    transform: translate3d(0,0,0) !important;
  }
  .courses-section .swiper-pagination-bullet-active {
    @apply !bg-primary w-2 h-2;
  }

  /* Tab Component Styles */
  .tab-content {
    @apply transition-all duration-300 ease-in-out;
  }

  .tab-content.hidden {
    @apply hidden;
  }

  .tab-content.active {
    @apply block;
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .palm-reading-section::before,
  .palm-reading-section::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height:400px;
    background-color: white;
    z-index: 1;
    pointer-events: none;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .palm-reading-section::before{
    top: 0;
    rotate: 180deg;
  }
  .palm-reading-section::after{
    bottom: -1px;
    rotate: 0deg;
    clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
  }
}
