/* ===========================
  Import Statements
=========================== */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-datepicker";

/* ===========================
  Theme Variables
=========================== */
@theme {
  --color-primary: #800000;
  --color-sc: #1C4D2F;
  --color-tertiary: #ECD71F;
  --font-head: "Source Serif 4";
  --font-default: "Poppins", sans-serif;
  --aspect-unset: unset;
}

/* ===========================
  Utilities Layer
=========================== */

@layer utilities {
  p {
   @apply leading-[2];
  }

  .container {
   @apply container max-w-9/10 mx-auto;
  }

  [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], 
  [type='date'], [type='datetime-local'], [type='month'], [type='search'], 
  [type='tel'], [type='time'], [type='week'], [multiple], textarea, select, button {
   @apply outline-none focus:outline focus:outline-none ;
  }
}

/* ===========================
  Base Laye
=========================== */
@layer base {
  /* General Reset */
  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font-default);
  }

  /* Typography */
  .all-page :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
   @apply mb-[15px] font-medium leading-[1.5] font-head capitalize;
  }

  h2, .h2 {
   @apply text-[clamp(1.325rem,calc(1.325rem+0.9vw),2rem)];
  }

  h3, .h3 {
   @apply text-[clamp(1.3rem,calc(1.3rem+0.6vw),1.75rem)];
  }

  h4, .h4 {
   @apply text-[clamp(1.275rem,calc(1.275rem+0.3vw),1.5rem)];
  }

  h5, .h5 {
   @apply text-[1.25rem];
  }

  h6, .h6 {
   @apply text-[1rem];
  }

  /* Links */
  .all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(
   #breadcrumbs, .th-toc-wrap ul li, [class*="social-links"] ul li
  ) a {
   @apply border-b-2 border-primary text-primary font-semibold transition-all;
  }

  .all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(
   #breadcrumbs, .th-toc-wrap ul li, [class*="social-links"] ul li
  ) a:hover {
   @apply border-b-0;
  }

  /* Lists */
  .all-page ul li {
   @apply list-disc marker:text-primary;
  }

  /* Margins */
  [class*="th-con"]:not(:last-child), .page-header, #breadcrumbs {
   @apply mb-[60px];
  }

  .blog-header {
   @apply mb-10;
  }

  [class*="con-bg"] {
   padding: 10px 0;
  }

  .page-header {
   @apply gap-[5px];
  }

  :is(.page-header, .blog-header) #breadcrumbs {
   @apply mb-0;
  }

  /* Header */
  .th-home-page header {
   @apply bg-white transition-all shadow-none;
  }
 
  .top-bar {
   @apply block md:hidden lg:block py-2.5 text-sm bg-gradient-to-r from-primary to-tertiary ;
  }

  /* header nav ul {
   background-color: #fff;
  } */

  header {
   @apply relative z-[1] bg-white transition-all duration-300 ease-in-out shadow-sm;
  }

  header ul {
   @apply flex items-center flex-wrap justify-center gap-[30px];
  }

  .sticky-header {
   @apply lg:translate-y-10 lg:transition-all;
  }

  /* Dropdown */
  .th-dropdown {
   position: relative;
   white-space: nowrap;
   display: flex;
   align-items: center;
   gap: 5px;
   transition: all 0.5s ease-in-out;
  }

  .th-dropdown::after {
   display: flex;
   content: "";
   width: 16px;
   height: 16px;
   cursor: pointer;
   margin-top: 5px;
   background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat;
  }

  .th-dropdown ul {
   display: none;
   position: absolute;
   left: 0px;
   top: 35px;
   padding: 10px;
   z-index: 99;
   min-width: 100%;
   transition: all 0.5s ease-in-out;
  }

  .th-dropdown ul li {
   padding: 10px 15px;
  }

  @media screen and (min-width: 1024px) {
   .th-dropdown:hover > ul {
    display: block;
   }

   .th-dropdown ul {
    width: 750px;
   }

   .th-dropdown ul li {
    width: 33%;
    float: left;
   }
  }

  @media screen and (max-width: 1024px) {
   .th-menu {
    @apply absolute;
   }

   header .th-menu > ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0%;
    transition: all 0.2s;
    width: 300px;
    padding: 30px;
    z-index: 10;
    transform: translateX(-100%);
    display: block;
   }

   header .th-menu > ul > li {
    @apply pt-5;
   }

   .th-dropdown::after {
    @apply ms-auto;
   }

   .cancel-btn {
    @apply fixed right-[8%] top-2.5;
   }

   .show-ul {
    transform: translate(0%) !important;
    overflow-y: auto;
   }

   .th-menu ul li.th-dropdown ul {
    width: 100% !important;
   }

   .th-menu ul li.th-dropdown ul li {
    width: 100% !important;
    float: none;
   }

   header ul li.showMenu > ul {
    display: block;
    margin-top: 15px;
   }

   .back-drop {
    @apply bg-black fixed w-screen h-screen opacity-50 z-[2] inset-y-0;
   }

   .th-menu-search-form {
    @apply absolute w-[calc(100%-40px)] md:w-[calc(100%-100px)] translate-y-[-100px] transition-all duration-[0.3s] ease-[ease-in-out] right-[20px] md:right-[50px];
    background: #fff;
   }

   .search-bar-show {
    @apply translate-y-[50px] transition-all duration-[0.3s] ease-[ease-in-out];
   }
  }
}

/* ===========================
  Components Layer
=========================== */
@layer components {
  .img-placeholder {
   @apply w-full h-full aspect-[16/9] bg-[#c7c7c7];
  }

  .img-placeholder img {
   @apply w-full h-full object-cover;
  }

  .indicator {
   @apply w-[5px] h-[5px] mx-[6px] cursor-pointer bg-[#e3e3e3] rounded-full active:w-[8px] active:h-[8px] active:bg-primary;
  }

  .th-home-page .all-page {
   @apply pt-0;
  }

  .all-page {
   @apply pb-[55px];
  }

  .all-page :is(ul, ol):not([class*="social-links"] ul) {
   @apply pl-6;
  }

  .all-page :is(ul, ol, p, .th-toc-wrap, .wp-block-image):not(
   [class*="social-links"] ul
  ) {
   @apply mb-5;
  }

  .all-page :is(ul, ol):not([class*="social-links"] ul) li:not(:last-child) {
   @apply leading-[1.7] mb-[15px];
  }

  .all-page :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
   @apply mb-[15px];
  }

  .all-page, .number-remove {
   counter-reset: term definition;
  }

  .all-page .number > *:not(a)::before {
   @apply content-[counter(term)_"._"];
   counter-increment: term;
  }

  .th-timeline {
   @apply flex items-center;
  }

  .sticky-header {
   @apply sticky top-[0] left-0 z-[999] shadow lg:-translate-y-10;
  }

  #scroll_to_top {
   @apply fixed bottom-12 right-[21px] w-[45px] h-[45px] z-[12] rounded-full cursor-pointer bg-primary flex items-center justify-center;
  }

  .link-logo {
   @apply relative text-center p-[25px] -mt-[15px] bg-white border border-[#dadada] rounded-b-[8px] flex items-center justify-center before:absolute after:absolute before:content-[''] after:content-[''] before:w-[18px] before:h-[15px] before:top-0 before:left-[-18px] before:bg-black before:[clip-path:polygon(100%_0,0_100%,100%_100%)] after:w-[18px] after:h-[15px] after:top-0 after:right-[-18px] after:bg-black after:[clip-path:polygon(0_0,0_100%,100%_100%)];
  }

  .th-btn {
   @apply cursor-pointer w-fit px-[26px] py-[8px] border border-primary bg-primary text-white text-[14px] font-normal rounded-[25px] transition-all;
  }

  .th-btn:has(svg) {
   @apply flex items-center justify-center gap-[10px] fill-white;
  }

  .th-btn:hover {
   @apply bg-white text-primary border-primary;
  }

  .th-btn:hover svg {
   @apply fill-primary;
  }

  .th-travel-card .th-btn {
   @apply px-[20px] py-[5px];
  }

  .flex-between:has(.th-sep, .th-btn) {
   @apply mb-[30px];
  }

  footer .hero-form {
   @apply bg-[#25535a] shadow-none;
  }

  .fo-sep::after {
   @apply content-[""] w-[44px] h-[2px] absolute bottom-[-5px] left-0;
   background: url("data:image/svg+xml,%3Csvg width='44' height='2' viewBox='0 0 44 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='1.5' d='M0 1.175h32m2 0h4m2 0h4'/%3E%3C/svg%3E")
    no-repeat;
  }

  .img-placeholder {
   @apply aspect-[16/9] relative overflow-hidden;
  }

  footer .menu li {
   @apply mb-[10px];
  }

  [class*="th-con"]:not(:last-child), .page-header, #breadcrumbs {
   @apply mb-[60px];
  }

  .blog-header {
   @apply mb-10;
  }

  [class*="con-bg"] {
   @apply px-0 py-10;
  }

  .page-header {
   @apply gap-[5px];
  }

  :is(.page-header, .blog-header) #breadcrumbs {
   @apply mb-0;
  }

  /* Site Button */
  .th-btn {
   @apply w-fit px-[26px] py-2;
  }

  .th-btn:has(svg) {
   @apply flex items-center justify-center gap-2.5;
  }
}

.itinerary .itinerary-list {
  @apply h-64 overflow-y-clip relative pl-[15px];
}
.itinerary-list::before {
  @apply content-[''] absolute w-full h-full border-l-2 border-l-[#eee] border-dashed left-[13px] top-0;
}
.itinerary .itinerary-list.expanded {
  @apply h-full;
}
.itinerary .step {
  @apply relative pl-[30px] before:content-[""] before:shrink-0 before:absolute before:bg-no-repeat before:transition-transform before:duration-[0.2s] before:ease-[ease-in-out] last:before:bg-[url("data:image/svg+xml,%3Csvg_width='30'_height='30'_viewBox='-0.724_-0.724_4.734_4.734'_fill='none'_xmlns='http://www.w3.org/2000/svg'%3E%3Cpath_fill='%23ff3a00'_d='M1.644-0.724a2.367_2.367_0_0_1_2.367_2.367A2.367_2.367_0_0_1_1.644_4.01_2.367_2.367_0_0_1-0.724_1.644_2.367_2.367_0_0_1_1.644-0.724'/%3E%3Cg_stroke-linecap='round'_stroke-linejoin='round'/%3E%3Cpath_fill-rule='evenodd'_clip-rule='evenodd'_d='M.685.138a.14.14_0_0_0-0.138.138v2.74a.138.138_0_1_0_0.274_0v-0.864l1.761-0.66a.275.275_0_0_0_0-0.514L.823.316V.274A.14.14_0_0_0_0.685.136m.138.471v1.249l1.596-0.599a.027.027_0_0_0_0-0.051z'_fill='%23fcfcfc'/%3E%3C/svg%3E")] last:before:w-[30px] last:before:h-[30px] last:before:-left-4 last:before:top-0 before:w-[15px] before:h-[15px] before:-left-2 before:top-[5px] mb-[25px];
}
.itinerary .step:nth-child(1):before {
  @apply w-[30px] h-[30px] -left-4 top-0;
  background: url("data:image/svg+xml,%3Csvg viewBox='-2.4 -2.4 28.80 28.80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3Crect x='-2.4' y='-2.4' width='28.80' height='28.80' rx='14.4' fill='%23ff3a00' strokewidth='0'%3E%3C/rect%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z' stroke='%23fcfcfc' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z' stroke='%23fcfcfc' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.itinerary .step::before {
  background: #fff
    url("data:image/svg+xml,%3Csvg width='15' height='15' fill='%23ff3a00' viewBox='-0.037 -0.037 0.45 0.45' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin' class='jam jam-circle'%3E%3Cpath d='M.188.337a.15.15 0 1 0 0-.3.15.15 0 0 0 0 .3m0 .037A.186.186 0 0 1 0 .188a.188.188 0 1 1 .188.188'/%3E%3C/svg%3E");
}
.itinerary .step-name {
  @apply font-semibold mb-2.5;
}

/* route section start */
.all-routes { 
  counter-reset: term definition;
}
.route {
  @apply text-lg inline-block relative w-full border border-[rgb(var(--route-color)_/_10%)] rounded-lg border-solid;
  padding: calc(20px + 18px) 20px 20px 20px;
  background: rgb(var(--route-color) / 4%);
  counter-reset: term definition;
}
.all-routes .toggleBtn {
  @apply border border-[rgb(var(--route-color))] border-solid hover:text-[rgb(var(--route-color))];
  background: rgb(var(--route-color)) !important;
}
.all-routes .toggleBtn:hover {
  background: #fff !important;
}
.route svg path {
  @apply fill-white;
}
.route-heading {
  @apply text-white text-lg border border-[rgb(var(--route-color)_/_10%)] absolute top-[-18px] m-0 px-5 py-1.5 rounded-lg border-solid left-[30px];
  background: rgb(var(--route-color) / 80%);
}
.route-stops {
  @apply list-none grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-10 gap-x-4 m-0 p-0;
}
.route-stops .stop {
  @apply hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.route-stops :is(.stop:first-child, .stop:nth-child(-n + 6)) {
  @apply block;
}
.route-stops.expanded .stop {
  @apply block;
}

.route-stops.expanded {
  @apply h-full overflow-visible;
}
.route-stops > .stop::before {
  @apply content-[counter(term)_""] absolute left-[-15px] w-[30px] h-[30px] flex items-center justify-center text-white text-[12.5px] rounded-lg top-[15px];
  counter-increment: term;
  background: rgb(var(--route-color) / 80%);
}
.stop-name {
  @apply text-base font-semibold;
}
.stop-detail {
  @apply text-[#eee] leading-none;
}
.usefull-links{
  box-shadow: rgba(255, 58, 0, 0.17) 0px -23px 25px 0px inset,rgba(255, 58, 0, 0.15) 0px -36px 30px 0px inset,rgba(255, 58, 0, 0.1) 0px -79px 40px 0px inset;
}
